---
# MySQL

- name: MySQL | Install MySQL
  apt: pkg=mysql-server state=present

- name: MySQL | Install python-mysqldb
  apt: pkg=python-mysqldb state=present

- name: MySQL | Install mysqld.conf
  template: src=files/mysqld.cnf dest=/etc/mysql/mysql.conf.d/mysqld.cnf owner=root
  notify: restart mysql

- name: MySQL | Create User
  mysql_user: name={{ dbuser }} host="%" password={{ dbpasswd }} priv="*.*:ALL"

- name: MySQL | Create User
  mysql_user: name={{ dbuser }} host="127.0.0.1" password={{ dbpasswd }} priv="*.*:ALL"

- name: MySQL | Create User
  mysql_user: name={{ dbuser }} host="localhost" password={{ dbpasswd }} priv="*.*:ALL"

- name: MySQL | Create Databases
  mysql_db: name={{ item }} state=present login_password={{ dbpasswd }} login_user={{ dbuser }}
  with_items: "{{databases}}"
